body {
  background-image: url(/images/green-felt.png);
  background-size: cover;
  color: white;
  text-align: center;
  margin: 2rem;
  font-family: 'Bungee', cursive;
}

button {
  color: crimson;
  background-color: yellow;
  padding: 15px;
  font-weight: bold;
  border-radius: 15px;
  border-style: none;
  font-size: 20px;
}

button#draw-cards {
  margin-top: 1em;
}

img {
  padding: 1em
}

